[data-md-color-scheme="default"] h1,
[data-md-color-scheme="default"] h2,
[data-md-color-scheme="default"] h3,
[data-md-color-scheme="default"] .md-content h1 {
    color: black !important;
    font-weight: 700 !important; /* ULTRA BOLD */
}

[data-md-color-scheme="slate"] h1,
[data-md-color-scheme="slate"] h2,
[data-md-color-scheme="slate"] h3,
[data-md-color-scheme="slate"] .md-content h1 {
    color: white !important;
    font-weight: 700 !important;
}

@media screen and (min-width: 1200px) {
    .md-grid {
        max-width: 66rem;
    }
    /*Removing the main title of the section in left panel*/
    [data-md-color-scheme="default"] .md-nav--primary > .md-nav__list > .md-nav__item > .md-nav__link > .md-ellipsis,
    [data-md-color-scheme="slate"]   .md-nav--primary > .md-nav__list > .md-nav__item > .md-nav__link > .md-ellipsis {
        display: none;
    }
}
