[data-md-color-scheme="default"] h1,
[data-md-color-scheme="default"] h2,
[data-md-color-scheme="default"] h3,
[data-md-color-scheme="default"] .md-content h1 {
    color: black !important;
    font-weight: 700 !important; /* ULTRA BOLD */
}

[data-md-color-scheme="slate"] h1,
[data-md-color-scheme="slate"] h2,
[data-md-color-scheme="slate"] h3,
[data-md-color-scheme="slate"] .md-content h1 {
    color: white !important;
    font-weight: 700 !important;
}