[data-md-color-scheme="default"] h1,
[data-md-color-scheme="default"] h2,
[data-md-color-scheme="default"] h3,
[data-md-color-scheme="default"] .md-content h1 {
    color: black !important;
    font-weight: 700 !important; /* ULTRA BOLD */
}

[data-md-color-scheme="slate"] h1,
[data-md-color-scheme="slate"] h2,
[data-md-color-scheme="slate"] h3,
[data-md-color-scheme="slate"] .md-content h1 {
    color: white !important;
    font-weight: 700 !important;
}

/* Default mode: show light logos, hide dark logos */
[data-md-color-scheme="default"] .logo-light {display: inline;}
[data-md-color-scheme="default"] .logo-dark {display: none;}
/* Slate mode: show dark logos, hide light logos */
[data-md-color-scheme="slate"] .logo-light {display: none;}
[data-md-color-scheme="slate"] .logo-dark {display: inline;}

@media screen and (min-width: 1200px) {
    .md-grid {
        max-width: 66rem;
    }
    /*Removing the main title of the section in left panel*/
    [data-md-color-scheme="default"] .md-nav--primary > .md-nav__list > .md-nav__item > .md-nav__link > .md-ellipsis,
    [data-md-color-scheme="slate"]   .md-nav--primary > .md-nav__list > .md-nav__item > .md-nav__link > .md-ellipsis {
        display: none;
    }
}


/* Increase font size for navigation tabs */
.md-tabs__link {
    font-size: 0.8rem;  /* or whatever size you want */
    padding-right: 0.2rem;     /* space inside the tab */
    font-weight: 500;   /* optional: make them a bit bolder */
}

